/*============================================================================MAX-WIDTH: 1024px ==============================================================================*/

@media (max-width: 1024px) {
  .main {
    max-width: 100%;
  }

  .login-container {
    gap: 10px;
    margin-top: 30px;
  }

  .login-box {
    height: 350px;
  }

  .login-gotoregister {
    width: 500px;
    height: 200px;
    margin-top: 30px;
  }
}

/*============================================================================MAX-WIDTH: 768px ==============================================================================*/

@media (max-width: 768px) {
  .main {
    max-width: 100%;
  }

  .login-container {
    gap: 5px;
    margin-top: 10px;
  }

  .login-box {
    height: 330px;
  }

  .login-gotoregister {
    width: 470px;
  }
}

/*============================================================================MAX-WIDTH: 576px ==============================================================================*/

@media (max-width: 576px) {
  .main {
    max-width: 100%;
  }

  .login-container {
    gap: 3px;
  }

  .login-box {
    width: 250px;
    height: 330px;
  }
  .login-textbox {
    background: black;
  }
  .login-button {
    margin-top: 10px;
  }
  .login-gotoregister {
    width: 400px;
  }
}

/*============================================================================MAX-WIDTH: 400px ==============================================================================*/

@media (max-width: 400px) {
  .main {
    max-width: 100%;
  }

  .login-box {
    height: 300px;
  }

  .login-textbox {
    background: black;
  }
  .login-gotoregister {
    width: 300px;
  }
}

/*============================================================================MAX-WIDTH: 350px ==============================================================================*/

@media (max-width: 350px) {
  .main {
    max-width: 100%;
  }

  .login-textbox {
    background: black;
  }
}
