/*============================================================================MAX-WIDTH: 2500px ==============================================================================*/

@media (max-width: 2500px) {
  .main {
    max-width: 100%;
  }

  /* ============= SECCION MIEMBROS MAX-WIDTH: 2500px============= */

  .member-content {
    width: 30%;
    height: 550px;
    box-shadow: black 2px 2px 40px 10px;
    background-image: url(./assets/login/logi_background.jpg);
    background-repeat: no-repeat;
  }
}

/*============================================================================MAX-WIDTH: 1600px ==============================================================================*/

@media (max-width: 1600px) {
  .main {
    max-width: 100%;
  }

  /* ============= HEADER  MAX-WIDTH: 1600px============= */

  header > nav > img {
    width: 180px;
    margin: 20px 0 0 0;
  }

  header > nav {
    gap: 20px;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  header > nav > ul {
    justify-content: space-evenly;
    align-items: space-evenly;
    gap: 10px;
  }

  .header > nav > ul > li {
    padding: 0;
    margin: 0;
    /* width: 00px; */
  }

  .menu-icon {
    display: none;
  }

  header > nav > ul > li > a {
    margin: 0;
    padding: 0;
    font-size: 20px;
  }

  .menu-icon {
    display: none;
  }

  /* ============= SECCION MIEMBROS MAX-WIDTH: 1600px============= */

  .member-content {
    width: 40%;
    height: 550px;
    box-shadow: black 2px 2px 40px 10px;
    background-image: url(./assets/login/logi_background.jpg);
    background-repeat: no-repeat;
  }
}

/*============================================================================MAX-WIDTH: 1200px ==============================================================================*/

@media (max-width: 1200px) {
  .main {
    max-width: 100%;
  }

  /* ============= HEADER ============= */

  header > nav > img {
    width: 180px;
    margin: 30px 0 0 40px;
  }

  header > nav {
    gap: 1px;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    margin-left: 0;
  }

  header > nav > ul {
    justify-content: space-evenly;
    align-items: space-evenly;
    gap: 30px;
  }

  .header > nav > ul > li {
    padding: 0;
    margin: 0;
    width: auto;
  }

  .menu-icon {
    display: none;
  }

  header > nav > ul > li > a {
    margin: 0;
    padding: 0;
    font-size: 20px;
  }

  .menu-icon {
    display: none;
  }

  /* ============= SECCION COMEBACK MAX-WIDTH: 1200px ============= */

  .come-title {
    letter-spacing: 20px;
  }
  /* ============= SECCION MIEMBROS ============= */

  .member-content {
    width: 40%;
    height: 550px;
    box-shadow: black 2px 2px 40px 10px;
    background-image: url(./assets/login/logi_background.jpg);
    background-repeat: no-repeat;
  }
}
/*============================================================================MAX-WIDTH: 1024px ==============================================================================*/

@media (max-width: 1024px) {
  .main {
    max-width: 100%;
  }

  /* ============= HEADER MAX-WIDTH: 1024px ============= */

  .header {
    width: 100vw;
  }

  header > nav > img {
    width: 150px;
    margin: 20px 0 0 50px;
  }

  header > nav {
    align-items: center;
    justify-content: space-around;
    width: 100%;
    padding: 0;
  }

  .header-menu {
    gap: 20px;
  }

  header > nav > ul {
    gap: 30px;
  }

  .header > nav > ul > li {
    width: 80px;
  }

  .menu-icon {
    display: none;
  }

  header > nav > ul > li > a {
    margin: 0;
    font-size: 18px;
  }

  .menu-icon {
    display: none;
  }

  /* ============= SECCION COMEBACK MAX-WIDTH: 1024px ============= */

  .come {
    width: 100%;
    padding: 0 20px;
    margin-top: 60px;
  }

  .come-info-container {
    width: 70%;
  }

  .come-title {
    letter-spacing: 15px;
  }

  .come-info-detail {
    font-size: 1.5em;
    letter-spacing: 0.2em;
  }

  .come-info-btn {
    width: 170px;
  }

  .come-img {
    width: 210px;
    align-self: center;
    border: white 5px solid;
  }

  /* ============= SECCION DISCOGRAFIA MAX-WIDTH: 1024px ============= */

  .disco {
    width: 100%;
  }

  .disco-title {
    font-size: 3.5em;
    letter-spacing: 0.4em;
    padding-left: 0;
  }

  .discografia-container {
    gap: 50px;
  }

  .disco-container {
    width: 350px;
    height: 350px;
    box-shadow: black 2px 2px 40px 10px;
    border-radius: 100px 5px 100px 5px;
  }

  .disco-back-container {
    gap: 20px;
    padding: 5px 5px 0 5px;
  }

  .disco-img {
    width: 350px;
    height: 350px;
  }

  .yellow-wood,
  .iamwho,
  .iamyou {
    letter-spacing: 4px;
  }

  .disco-tracks > li {
    font-family: "Roboto", sans-serif, "Gill Sans", "Gill Sans MT";
    font-size: 15px;
    letter-spacing: 1px;
  }

  .disco-tracks {
    flex-direction: column;
    align-items: center;
    width: 90%;
    height: 230px;
    padding-top: 40px;
  }

  .disco-tk-go > li,
  .disco-tk-noeasy > li {
    font-size: 11px;
  }

  /* ============= SECCION MIEMBROS MAX-WIDTH: 1024px============= */

  .members-title {
    font-size: 3.5em;
    letter-spacing: 0.4em;
    padding: 0;
    margin: 30px 0 30px 0;
  }

  .members-container {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
    width: 100%;
  }

  .member-content {
    width: 40%;
    height: 550px;
    box-shadow: black 2px 2px 40px 10px;
    background-image: url(./assets/login/logi_background.jpg);
    background-repeat: no-repeat;
  }

  /* ============= SECCION SKZOO MAX-WIDTH: 1024px============= */

  .skzoo {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 3em 0 2em 0;
  }

  .skzoo-title {
    font-size: 3.5em;
    letter-spacing: 0.4em;
    padding: 0;
    margin: 30px 0 30px 0;
  }

  .skzoo-container {
    gap: 60px;
  }

  /* ============= SECCION HISTORIA MAX-WIDTH: 1024px============= */

  .historia {
    width: 100%;
    margin-bottom: 1em;
    margin: 3em 0 2em 0;
  }

  .historia-container {
    width: 100%;
    padding: 2em 1em 0 1em;
  }

  .historia-title {
    font-size: 2.4em;
    margin: 0 0 0.5em 0.5em;
  }

  .historia-part1 > p,
  .historia-part2 > p {
    font-size: 1.4em;
    letter-spacing: 0.3rem;
    line-height: 2.9rem;
  }

  .historia-img {
    width: 13em;
    box-shadow: #9f9f9f 1px 1px 50px 20px;
  }

  /* ============= SECCION CONTACTO MAX-WIDTH: 1024px ============= */

  .contacto-tittle {
    font-size: 45px;
    letter-spacing: 0.4em;
  }

  .contacto-container > h3 {
    letter-spacing: 3px;
    font-size: 21px;
    margin-bottom: 10px;
  }

  .map-jyplogo {
    width: 120px;
  }

  .map-title-desc {
    font-size: 18px;
    letter-spacing: 3px;
  }

  .map-flag {
    width: 90px;
    border-radius: 5px;
  }

  /* ============= FOOTER MAX-WIDTH: 1024px============= */

  .footer {
    width: 100%;
    height: 6em;
  }

  .footer-menu {
    flex-wrap: wrap;
    gap: 1em;
    width: 300px;
  }

  .footer-navbar {
    gap: 2em;
  }
}

/*============================================================================MAX-WIDTH: 768px ==============================================================================*/

@media (max-width: 768px) {
  .main {
    max-width: 100%;
  }

  /* ============= HEADER MAX-WIDTH: 768px ============= */

  .header {
    width: 100vw;
  }

  header > nav > img {
    width: 190px;
    margin: 30px 0 0 0;
  }

  header > nav > ul {
    display: none;
  }

  .menu-icon {
    display: flex !important;
    font-size: 40px;
    margin: 0;
    padding: 0 0 10px 0;
  }

  header > nav > ul > li > a {
    margin: 10px;
    font-size: 1.9em;
    text-align: center;
  }

  .toggle {
    list-style: none;
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    padding: 0;
    background-color: rgba(0, 0, 0, 0.8);
  }

  .header > nav > ul {
    gap: 70px;
  }

  .header > nav > ul > li {
    width: 150px;
    height: 40px;
  }

  .menu-toggle:checked + .toggle {
    display: flex;
  }

  /* ============= SECCION COMEBACK MAX-WIDTH: 768px============= */

  .come {
    width: 100%;
    padding: 20px;
    margin-top: 50px;
  }

  .come-title {
    font-size: 60px;
    letter-spacing: 0.3em;
    padding-left: 30px;
  }
  .come-info-container {
    width: 60%;
  }

  .come-aditional {
    letter-spacing: 1.2rem;
  }
  .come-info-detail {
    font-size: 1.2em;
    letter-spacing: 0.1em;
  }

  .come-info-btn {
    width: 180px;
    height: 60px;
  }

  .come-img {
    width: 170px;
  }

  /* ============= SECCION DISCOGRAFIA MAX-WIDTH: 768px============= */

  .disco {
    width: 100%;
  }

  .disco-title {
    padding-left: 30px;
    font-size: 2.6em;
  }

  .discografia-container {
    grid-template-columns: auto auto;
    gap: 25px;
  }

  .disco-container {
    width: 330px;
    height: 330px;
    box-shadow: black 2px 2px 40px 10px;
    border-radius: 70px 5px 70px 5px;
  }

  .disco-back-container {
    font-size: 16px;
    gap: 7px;
    padding: 5px 0 0 0;
  }

  .disco-img {
    width: 330px;
    height: 330px;
    border-radius: 70px 5px 70px 5px;
  }

  .disco-tracks {
    flex-direction: column;
    align-items: center;
    width: 90%;
    height: 230px;
    padding-top: 40px;
  }

  .disco-tk-go > li,
  .disco-tk-noeasy > li,
  .disco-tk-5star > li {
    font-size: 13px;
  }

  /* ============= SECCION MIEMBROS MAX-WIDTH: 768px============= */

  .members-container {
    gap: 10px;
  }

  .member-content {
    width: 48%;
    height: 520px;
    background-image: url(./assets/login/logi_background.jpg);
    background-repeat: no-repeat;
  }
  .member-detail {
    font-size: 16px;
  }
  /* ============= SECCION SKZOO MAX-WIDTH: 768px============= */

  .skzoo-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 2rem;
    gap: 3rem;
  }
  /* ============= SECCION HISTORIA MAX-WIDTH: 768px============= */

  .historia {
    margin: 3em 0 2em 0;
  }

  .historia-title {
    font-size: 2.4em;
    margin: 0 0 0.5em 0.5em;
  }

  .historia-part1 > p,
  .historia-part2 > p {
    font-size: 1.4em;
    letter-spacing: 0.3rem;
    line-height: 2.9rem;
  }

  .historia-img {
    width: 10em;
    box-shadow: #9f9f9f 1px 1px 50px 20px;
  }

  /* ============= SECCION CONTACTO ============= */

  .contacto-tittle {
    font-size: 40px;
    letter-spacing: 0.3em;
  }

  .contacto-container > h3 {
    letter-spacing: 1.5px;
    font-size: 18px;
    margin-bottom: 10px;
  }

  .register-gotoregister > h3 {
    letter-spacing: 4px;
    font-size: 20px;
  }

  /* ============= FOOTER MAX-WIDTH: 768px============= */

  .footer {
    width: 100%;
    height: 100px;
  }

  .footer-menu {
    flex-wrap: wrap;
    gap: 1em;
    width: 450px;
  }

  .footer-navbar {
    gap: 2em;
  }
}

/*============================================================================MAX-WIDTH: 600px ==============================================================================*/
@media (max-width: 600px) {
  .main {
    max-width: 100%;
  }

  /*SECCION DISCOGRAFIA*/

  .disco-title {
    font-size: 42px;
    width: 100%;
  }

  /* ============= SECCION CONTACTO ============= */

  .register-form {
    width: 700px;
  }

  .register-textbox {
    width: 80%;
  }

  .map-title {
    flex-direction: column;
    gap: 10px;
  }

  .map-title-desc {
    letter-spacing: 2px;
  }
}

/*============================================================================MAX-WIDTH: 576px ==============================================================================*/

@media (max-width: 576px) {
  .main {
    max-width: 100%;
  }

  /* ============= HEADER MAX-WIDTH: 576px============= */

  .header {
    width: 100%;
    height: 80px;
    background-color: black;
    position: fixed;
    top: 0;
    z-index: 2;
  }

  header > nav > img {
    width: 40%;
    margin: 0;
  }

  header > nav > ul {
    display: none;
  }

  .menu-icon {
    display: flex;

    font-size: 40px;
  }

  header > nav > ul > li > a {
    margin: 10px;
    font-size: 1.9em;
    text-align: center;
  }

  .toggle {
    list-style: none;
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    padding: 0;
    background-color: rgba(0, 0, 0, 0.8);
  }

  .menu-toggle:checked + .toggle {
    display: flex;
  }

  /* ============= SECCION COMEBACK MAX-WIDTH: 576px============= */

  .come {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 2em 0;
    padding: 0;
  }

  .come-info-container {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    width: 100%;
  }

  .come-title {
    font-size: 5em;
    letter-spacing: 0.2em;
    width: 100%;
    padding: 0 0 0 0.2em;
    text-align: center;
  }

  .come-aditional {
    font-size: 2em;
    letter-spacing: 1.1rem;
    text-align: center;
  }

  .come-info-detail {
    font-size: 1.6em;
    letter-spacing: 0.3em;
    text-align: center;
  }

  .come-info-btn {
    border: var(--blanco) 3px solid;
    width: 15rem;
    height: 4rem;
    font-size: 1.5rem;
  }

  .come-img {
    width: 300px;
    align-self: center;
    margin-top: 2em;
  }

  /* ============= SECCION DISCOGRAFIA MAX-WIDTH: 576px============= */

  .disco {
    flex-direction: column;
    width: 100%;
  }

  .disco-title {
    font-size: 2.2em;
    letter-spacing: 0.2em;
    padding-left: 2em;
  }

  .discografia-container {
    display: grid;
    grid-template-columns: auto;
    gap: 50px;
  }

  .disco-container {
    width: 330px;
    height: 330px;
  }

  .disco-back-container {
    gap: 20px;
    padding: 5px 5px 0 5px;
  }

  .disco-img {
    width: 330px;
    height: 330px;
  }

  /* ============= SECCION MIEMBROS MAX-WIDTH: 576px============= */

  .members-title {
    font-size: 2.5em;
    letter-spacing: 0.3em;
    padding: 0;
    margin: 3em 0 2em 0;
  }

  .members-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
    width: 100%;
    height: 100%;
  }

  .member-content {
    border: var(--blanco) solid 0.6rem;
    width: 350px;
    height: 560px;
    overflow: hidden;
    border-radius: 3rem 0 3rem 0;
    box-shadow: 0 0 15px 0px rgba(0, 0, 0, 0.2);
    position: relative;
    /* background: var(--light); */
    background-image: url(./assets/login/logi_background.jpg);
    background-repeat: no-repeat;
  }

  .bangchan {
    height: 450px;
  }

  .changbin {
    height: 520px;
  }

  .han {
    height: 480px;
  }

  .lee {
    height: 450px;
  }

  .min {
    height: 460px;
  }

  .hwang {
    height: 530px;
  }

  .seungmin {
    height: 530px;
  }

  .yang {
    height: 520px;
  }

  /* ============= SECCION SKZOO MAX-WIDTH: 576px ============= */

  .skzoo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 3em 0 2em 0;
  }

  .skzoo-title {
    font-size: 3em;
    letter-spacing: 0.6em;
  }

  .skzoo-container {
    gap: 1rem;
  }

  /* ============= SECCION HISTORIA MAX-WIDTH: 576px ============= */

  .historia {
    width: 100%;
    margin-bottom: 1em;
    margin: 3em 0 2em 0;
  }

  .historia-container {
    width: 100%;
    padding: 2em 1em 0 1em;
  }

  .historia-title {
    font-size: 2.4em;
    margin: 0 0 0.5em 0.5em;
  }

  .historia-part1 > p,
  .historia-part2 > p {
    font-size: 16px;
    letter-spacing: 0.5px;
    line-height: 1.5em;
  }

  .historia-img {
    width: 23rem;
    box-shadow: #9f9f9f 1px 1px 50px 20px;
  }

  /* ============= SECCION CONTACTO MAX-WIDTH: 576px  ============= */

  .contacto-tittle {
    font-size: 32px;
    letter-spacing: 0.2em;
  }

  .contacto-container > h3 {
    letter-spacing: 0;
    font-size: 14px;
    margin-bottom: 7px;
  }

  .map-jyplogo {
    width: 80px;
  }

  .map-title-desc {
    width: 90%;
    font-size: 14px;
    letter-spacing: 2px;
  }

  .map-title {
    flex-direction: column;
    gap: 15px;
  }

  .map-flag {
    width: 70px;
    border-radius: 4px;
  }

  .contacto-map {
    border: var(--gris) 5px solid;
    border-radius: 10px;
    width: 300px;
    height: 250px;
    margin: 40px;
  }

  /* ============= SECCION CONTACTO MAX-WIDTH: 576px ============= */

  .register-form {
    width: 600px;
  }

  .register-gotoregister > h3 {
    letter-spacing: 3px;
  }

  /* ============= FOOTER MAX-WIDTH: 576px ============= */

  .footer {
    width: 100%;
    height: 100px;
    z-index: 0;
  }

  .footer-menu {
    flex-wrap: wrap;
    gap: 1em;
    width: 350px;
  }

  .footer-navbar {
    gap: 2em;
  }
}

/*============================================================================MAX-WIDTH: 400px ==============================================================================*/

@media (max-width: 400px) {
  .main {
    max-width: 100%;
  }

  /* ============= HEADER ============= */

  .header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 5em;
    background-color: black;
    position: fixed;
    top: 0;
    z-index: 2;
  }

  header > nav > img {
    width: 180px;
    margin: 20px 0 0 0;
  }

  /* ============= SECCION COMEBACK MAX-WIDTH: 400px============= */

  .come {
    display: flex;
    width: 100%;
    margin: 2em 0;
    padding: 0;
  }

  .come-info-detail {
    font-size: 1.3em;
  }

  .come-img {
    width: 65%;
    margin: 0;
  }

  /* ============= SECCION DISCOGRAFIA MAX-WIDTH: 400px ============= */

  .disco {
    flex-direction: column;
    width: 100%;
  }

  .disco-title {
    font-size: 2.2em;
  }

  .discografia-container {
    display: grid;
    grid-template-columns: auto;
    gap: 30px;
  }

  .disco-container {
    width: 330px;
    height: 330px;
  }

  .disco-back-container {
    gap: 20px;
    padding: 30px 5px 0 5px;
  }

  /* ============= SECCION MIEMBROS MAX-WIDTH: 400px============= */

  .members-title {
    font-size: 2.8em;
    letter-spacing: 0.08em;
    padding: 0;
  }

  .members-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    height: 100%;
  }

  .member-content {
    border: var(--blanco) solid 0.6rem;
    width: 330px;
    height: 450px;
    overflow: hidden;
    border-radius: 3rem 0 3rem 0;
    box-shadow: 0 0 15px 0px rgba(0, 0, 0, 0.2);
    position: relative;
    /* background: var(--light); */
    background-image: url(./assets/login/logi_background.jpg);
    background-repeat: no-repeat;
  }

  .member-header {
    padding: 20px;
  }

  .member-img {
    width: 40%;
  }

  .member-name {
    font-size: 1.8em;
    font-weight: 600;
  }

  .member-detail {
    font-size: 1.1em;
    letter-spacing: 0.08rem;
    line-height: 1.5rem;
    text-align: left;
    padding: 0.8rem;
  }

  .member-detail > span {
    color: crimson;
    text-shadow: var(--blanco) 2px 2px 25px;
  }

  .member-flag {
    position: absolute;
    bottom: 30px;
    left: 25px;
    width: 20%;
  }

  .bangchan {
    height: 410px;
  }

  .changbin {
    height: 500px;
  }

  .han {
    height: 490px;
  }

  .lee {
    height: 430px;
  }

  .min {
    height: 430px;
  }

  .hwang {
    height: 510px;
  }

  .seungmin {
    height: 510px;
  }

  .yang {
    height: 510px;
  }
  /* ============= SECCION SKZOO MAX-WIDTH: 400px============= */

  /* ============= SECCION HISTORIA MAX-WIDTH: 400px============= */

  .map-container {
    width: 100%;
  }

  /* ============= FOOTER MAX-WIDTH: 400px============= */

  .footer {
    width: 100%;
    height: 300px;
    display: flex;
  }

  .footer-menu {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    width: 100%;
  }

  .footer-navbar {
    display: flex;
    gap: 25px;
  }

  /* ============= SECCION CONTACTO ============= */

  .contacto-tittle {
    font-size: 30px;
    letter-spacing: 0.2em;
  }

  .register-gotoregister > h3 {
    letter-spacing: 1px;
  }

  /* ============= FOOTER MAX-WIDTH: 400px============= */

  .footer {
    width: 100%;
    height: 100px;
    display: flex;
    z-index: 0;
  }

  .footer-menu {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    width: 100%;
  }

  .footer-navbar {
    display: flex;
    gap: 25px;
  }
}

/*============================================================================MAX-WIDTH: 350px ==============================================================================*/

@media (max-width: 350px) {
  .main {
    max-width: 100%;
  }

  /* ============= HEADER MAX-WIDTH: 350px============= */

  .header {
    width: 100%;
    height: 5em;
    background-color: black;
    position: fixed;
    top: 0;
    z-index: 2;
  }

  .header > nav > ul {
    height: 100vh;
  }
  .header > nav > ul > li {
    width: 150px;
    height: 50px;
  }

  /* ============= COMEBACK MAX-WIDTH: 350px============= */

  .come-aditional {
    font-size: 24px;
  }

  .come-info-detail {
    letter-spacing: 2px;
    font-size: 1.2em;
  }

  /* ============= SECCION DISCOGRAFIA MAX-WIDTH: 350px============= */

  .discografia-container {
    display: grid;
    grid-template-columns: auto;
    gap: 30px;
  }

  .disco-container {
    width: 300px;
    height: 300px;
  }

  .disco-back-container {
    gap: 20px;
    padding: 30px 5px 0 5px;
    font-size: 12px;
  }

  .disco-img {
    width: 300px;
    height: 300px;
  }

  /* ============= SECCION MIEMBROS MAX-WIDTH: 350px============= */

  .members-container {
    gap: 20px;
  }

  .members-title {
    font-size: 2.9em;
    width: 100%;
    letter-spacing: 0.2em;
    padding: 0 15px 0 15px;
  }

  .members-container {
    gap: 30px;
  }

  .member-content {
    width: 300px;
    height: 400px;
    box-shadow: 1px 0 15px 0px rgba(0, 0, 0, 1);
  }

  .member-img {
    width: 40%;
  }

  .member-detail {
    font-size: 15px;
  }

  .member-detail > span {
    color: crimson;
    text-shadow: var(--blanco) 2px 2px 25px;
    text-decoration: underline;
  }

  .member-flag {
    position: absolute;
    bottom: 30px;
    left: 40px;
    width: 25%;
  }

  .bangchan {
    height: 390px;
  }

  .changbin {
    height: 460px;
  }

  .hwang {
    height: 490px;
  }

  .seungmin {
    height: 490px;
  }

  .lee {
    height: 400px;
  }

  .yang {
    height: 470px;
  }

  .han {
    height: 420px;
  }
  /* ============= SECCION SKZOO MAX-WIDTH: 350px ============= */

  /* ============= SECCION HISTORIA MAX-WIDTH: 350px============= */

  .historia-part1,
  .historia-part2 {
    font-size: 12px;
  }

  /* .map-container {
    margin: 10px;
    width: 200px;
  } */

  /* ============= FOOTER MAX-WIDTH: 350px============= */

  .footer {
    width: 100%;
    height: 100px;
    display: flex;
    z-index: 0;
  }

  .footer-menu {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    width: 100%;
  }

  .footer-navbar {
    display: flex;
    gap: 25px;
  }
}
